.header{
    flex: 1;
    background-color: var(--bg-color-1);
    padding: 20px;
    overflow-y: scroll;
}  

.header p{
    color: var(--text-color-1);
    display: flex;
    justify-content: end;
    line-height: 1.875rem;
    margin-bottom: 0;
}

.header_expression{
    overflow-x: scroll;
    width: 100%;
    min-height: 30px;
}

.header_expression p{
    min-width: 100%;
    text-wrap: nowrap;  
    width: fit-content; 
    font-weight: bold;
}

.header-result{
    font-weight: bold;
    font-size: 1.3rem !important;
    min-height: 30px;
}